<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ fav }}">
  <!--  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"> -->
    <title>Pandas DataFrame</title>
</head>
<body>
    <div style="background-color: #333; overflow: hidden;">
        <a href="{{ url_for('hello') }}"style="color: white; text-align: center; padding: 14px 20px; text-decoration: none;">Home</a>
        <a href="{{ url_for('titanic') }}" style="color: white; text-align: center; padding: 14px 20px; text-decoration: none;">Titanic</a>
        <a href="https://github.com/kelvirc" style="color: white; text-align: center; padding: 14px 20px; text-decoration: none;">About</a>
    </div>
{{ table|safe }}
<div >
    <h2>Titanic Survivors</h2>
    <img src="{{ plot }}" alt="Bar Chart">

</div>
</body>
</html>